@model IEnumerable<BeInPink.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingCoachId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingCoachId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
